* {
    font-family: 'Ubuntu Mono', cursive, sans-serif;
    font-style: italic;
}


/* MENU LATERAL - ESQUERDO */

.menu-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    /* background-image: linear-gradient(#1f222c, #aa9b9b); */
    background-image: url(../imagens/background/background-mountain.jpg);
}

.logo-assai {
    position: absolute;
    top: 8.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* margin-left: 43%; */
    box-sizing: border-box;
}

.cabecalho-menu {
    text-align: center;
    color: white;
    margin-top: 140px;
    font-size: 1.5em;
}


/* CORPO DO PROJETO */

.main-content {
    width: 80%;
    height: 100vh;
    margin-left: 20%;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.144);
}


/* TITULOS DO CORPO DO PROJETO */

.titulo-1 {
    text-align: center;
    font-size: 2em;
    margin: 0px 0px 10px 0px;
    padding-top: 10px;
}

.titulo-2 {
    text-align: center;
    font-size: 2em;
    margin: 35px 0px 0px 0px;
}


/* DIV DO PRECISA DE AJUDA */

.box-cervello {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 1.5%;
    margin: 3px 1px 3px 6px;
    width: 49%;
    height: 350px;
    background-image: url(../imagens/cervello/cervello-tela-inicial.png);
    background-size: 100%;
}
.box-cervello:hover {
    filter: drop-shadow(-1px 1px 10px #000000) grayscale(45%);
    transform: translate(-2px, -2px);
    transition: linear .5s;
}

.box-assinatura-de-email {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 1.5%;
    margin: 3px 3px 3px 5px;
    width: 49%;
    height: 350px;
    background-image: url(../imagens/assinatura-email/assinatura.png);
    background-size: 100%;
}
.box-assinatura-de-email:hover {
    filter: drop-shadow(-1px 1px 10px #000000) grayscale(45%);
    transform: translate(-2px, -2px);
    transition: linear .5s;
}

/* CONTEUDO DENTRO DAS DIVS 'PRECISA DE AJUDA' */


.p_inside_box-1 {
    text-align: center;
    margin-top: 295px;
    letter-spacing: .7px;
    line-height: 20px;
    color: white;
}
.p_inside_box-2 {
    text-align: center;
    margin-top: 295px;
    letter-spacing: .7px;
    line-height: 20px;
    color: black;
}


/* DIV DOS LINKS DO INTRANET */

.all-links, .gerencia, .frente-de-caixa, .rm, .rh {
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px; */

    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    margin-top: 25px;
    border-radius: 4%;
    padding-top: 4.8em;
    color: white;
    font-size: 1.1em;
} 

.all-links {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin-left: 10%;
}
.gerencia {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin-left: 35px;
}
.frente-de-caixa {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin-left: 35px;
}
.rm {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin-left: 35px;
}
.rh {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin-left: 35px;
}









/* CLASS OF HIDDEN */

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}


/* FOOTER DESIGN */

.footer {
    color: white;
    position: fixed;
    width: 25%;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    margin-right: 150px;
    padding: 0 54px 10px;
    font-size: 1em;
}


/* Design of link social medias */

.ul-icons {
    list-style-type: none;
    margin-right: 27px;
    text-align: center;
}

.ul-icons li {
    display: inline-block;
    font-size: 2.4em;
    margin-left: 7px;
}

.ul-icons li:hover {
    transform: translate(-4px, -4px);
    transition: all .7s;
}

.ul-icons a {
    color: black;
}

.ul-icons a:hover {
    /* color: rgba(0, 0, 0, 0.671); */
    color: rgb(255, 255, 255);
}