/* MENU LATERAL - ESQUERDO */

.menu-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    background-image: linear-gradient(black, grey);
}

.logo-assai {
    position: absolute;
    top: 45px;
    margin-left: 38%;
    box-sizing: border-box;
}

.cabecalho-menu {
    text-align: center;
    color: white;
    margin-top: 140px;
    font-size: 1.5em;
}


/* CORPO DO PROJETO */

.main-content {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    box-sizing: border-box;
}


/* TITULOS DO CORPO DO PROJETO */

.titulo-1 {
    text-align: center;
    font-size: 2em;
    margin: 6px 0px 0px 0px;
}

.titulo-2 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0px 0px 0px;
}


/* DIV DO PRECISA DE AJUDA */

.box-cervello {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 1.5%;
    margin: 3px 1px 3px 3px;
    width: 49.5%;
    height: 350px;
    background-color: blue;
}

.box-assinatura-de-email {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 1.5%;
    margin: 3px 3px 3px 1px;
    width: 49.5%;
    height: 350px;
    background-color: blue;
}

/* CONTEUDO DENTRO DAS DIVS 'PRECISA DE AJUDA' */

.h1_inside_box {
    text-align: center;
    /* padding-top: 3.5em; */
    margin-top: 130px;
    background-color: yellow;
}

.p_inside_box {
    text-align: center;
    background-color: grey;
}


/* DIV DOS LINKS DO INTRANET */

.all-links, .gerencia, .frente-de-caixa, .rm, .rh {
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px; */

    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
    border-radius: 50%;
    padding-top: 3.5em;
    color: white;
    font-size: 1.1em;
} 

.all-links {
    background-color: blue;
    width: 150px;
    height: 150px;
    margin-left: 20%;
}
.gerencia {
    background-color: blue;
    width: 150px;
    height: 150px;
    margin-left: 35px;
}
.frente-de-caixa {
    background-color: blue;
    width: 150px;
    height: 150px;
    margin-left: 35px;
}
.rm {
    background-color: blue;
    width: 150px;
    height: 150px;
    margin-left: 35px;
}
.rh {
    background-color: blue;
    width: 150px;
    height: 150px;
    margin-left: 35px;
}









/* CLASS OF HIDDEN */

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}


/* FOOTER DESIGN */

.footer {
    color: white;
    position: fixed;
    width: 20%;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    margin-right: 150px;
    padding: 0 54px 10px;
    font-size: 1em;
}


/* Design of link social medias */

.ul-icons {
    list-style-type: none;
    margin-right: 27px;
    text-align: center;
}

.ul-icons li {
    display: inline-block;
    font-size: 2.4em;
    margin-left: 7px;
}

.ul-icons li:hover {
    transform: translate(-4px, -4px);
    transition: all .7s;
}

.ul-icons a {
    color: black;
}

.ul-icons a:hover {
    /* color: rgba(0, 0, 0, 0.671); */
    color: rgb(255, 255, 255);
}