* {
    font-family: 'Ubuntu Mono', cursive, sans-serif;
    font-style: italic;
}


/* MENU LATERAL - ESQUERDO */

.menu-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    /* background-image: linear-gradient(#1f222c, #aa9b9b); */
    background-image: url(../imagens/background/overlay.png), url(../imagens/background/background-mountain.jpg);
}

/* BOTÃO VOLTAR */
.voltar {
    font-size: 1.4em;
    list-style-type: none;
}

.voltar a {
    border-bottom: none;
    color: rgba(255, 255, 255, .8);
}
.voltar a:hover {
    color: rgba(255, 255, 255, 1);
}
.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}

.logo-assai {
    position: absolute;
    top: 12%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.cabecalho-menu {
    text-align: center;
    color: white;
    margin-top: 130px;
    font-size: 1.5em;
}


/* CORPO DO PROJETO */

.main-content {
    width: 75%;
    height: 100vh;
    margin-left: 25%;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.144);
}


/* TITULOS DO CORPO DO PROJETO */

.titulo-1, .titulo-2 {
    text-align: center;
    font-size: 2em;
    color: rgb(70, 68, 68);
}
.titulo-1 {
    margin: 0px 0px 10px 0px;
    padding-top: 10px;
}
.titulo-2 {
    margin: 2% 0 1% 0 0;
}


/* DIV DO PRECISA DE AJUDA */

.box-cervello, .box-assinatura-de-email {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 3px 1px 3px 6px;
    width: 49%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.box-cervello {
    background-image: url(../imagens/cervello/cervello-tela-inicial.png);
}
.box-assinatura-de-email {
    background-image: url(../imagens/assinatura-email/assinatura.png);
}

.box-cervello:hover, .box-assinatura-de-email:hover {
    filter: drop-shadow(-1px 1px 10px #000000) grayscale(45%);
    transform: translate(-2px, -2px);
    transition: linear .5s;
}

/* CONTEUDO DENTRO DAS DIVS 'PRECISA DE AJUDA' */


.p_inside_box-1 {
    text-align: center;
    margin-top: 295px;
    letter-spacing: .7px;
    line-height: 20px;
    color: white;
}
.p_inside_box-2 {
    text-align: center;
    margin-top: 295px;
    letter-spacing: .7px;
    line-height: 20px;
    color: black;
}






.pages-links {
    margin-left: 4%;
}
.pages-links div {
    /* background-color: blue; */
    margin: .3% .1% 1.2% 1%;
    display: inline-block;
    border-radius: 10px;
    width: 30%;
    height: 190px;
    box-sizing: border-box;
    border: 2px solid #a8a8a83b;
    box-shadow: 2px 5px 15px black;
    text-align: center;
    font-size: 1.3em;

    
    color: rgb(27, 22, 18);
}
.pages-links div:hover {
    filter: drop-shadow(-1px 1px 10px #000000) grayscale(45%);
    transform: translate(-2px, -2px);
    transition: linear .5s;
}
.intranet {
    background-image: url(../imagens/icons/intranet.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.horus {
    background-image: url(../imagens/icons/Horus.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.adpexpert-colaborador {
    background-image: url(../imagens/icons/adp-expert.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.conecta {
    background-image: url(../imagens/icons/conecta.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.checklistfacil {
    background-image: url(../imagens/icons/checklist-facil.png);
    background-size: 100%;
    background-repeat: no-repeat;
}






/* CLASS OF HIDDEN */

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}


/* FOOTER DESIGN */

.footer {
    color: white;
    position: fixed;
    width: 25%;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    margin-right: 150px;
    padding: 0 54px 10px;
    font-size: 1em;
}


/* Design of link social medias */

.ul-icons {
    list-style-type: none;
    margin-right: 27px;
    text-align: center;
}

.ul-icons li {
    display: inline-block;
    font-size: 2.4em;
    margin-left: 7px;
}

.ul-icons li:hover {
    transform: translate(-4px, -4px);
    transition: all .7s;
}

.ul-icons a {
    color: rgba(255, 255, 255, 0.644);
}

.ul-icons a:hover {
    /* color: rgba(0, 0, 0, 0.671); */
    color: rgb(255, 255, 255);
}